.benefactor_record {
    padding: 2vh 1vh;
    border-top: 1px solid rgba(35, 35, 35, 0.5);
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.benefactor_record > * {
    font-size: 1.125rem;
}

.benefactor_name {
    font-family: 'Qanelas Bold';
    font-weight: 700;
}

@media screen and (max-width: 560px) {
    .benefactor_record {
        flex-direction: column;
    }
}