.peace_of_news {
    display: flex;
    gap: 3vh;
    background-color: white;
    border-radius: 1.5vh;
    padding: 2vh;
}

.peace_of_news h4 {
    font-weight: 700;
    font-family: 'Qanelas Bold';
}


@media screen and (max-width: 880px) {
    .peace_of_news {
        flex-direction: column;
        gap: 1vh;
    }
}