#section_contact_info {
    font-size: 1.25rem;
    padding-top: 0;
    padding-bottom: 0;
}

.contact_info_block {
    background-color: #F2F2F2;
    border-radius: 50px;
    box-shadow: 10px 20px 30px #0000002d;
    padding: 6vh 6vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#section_contact_info h2, 
#section_contact_info h3 {
    text-transform: uppercase;
    font-family: "Qanelas Bold";
    font-weight: 700;
}

#section_contact_info h2 {
    font-size: 2.875rem;
    line-height: 3.5rem;
}

#section_contact_info h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5vh;
}

.div_small_p {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 1.125rem;
}

@media screen and (max-width: 560px) {
    #section_contact_info h2 {
        width: 100%;
        font-size: 8vw;
        line-height: 10vw;
    }
}

@media screen and (max-width: 400px) {
    #section_contact_info h3 {
        font-size: 6vw;
        line-height: 7vw;
    }
}